<!DOCTYPE html>
<html>
<head>
  <title>Order</title>
  <%= stylesheet_link_tag    "order/application", media: "all" %>
  <%= javascript_include_tag "order/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
